openapi: 3.0.1
info:
  contact:
    email: letsconnect@bitrise.io
    name: Bitrise Support
    url: https://www.bitrise.io/contact
  description: Official REST API for Bitrise.io
  license:
    name: MIT
  title: Bitrise API
  version: "0.1"
servers:
- url: https://api.bitrise.io/v0.1
paths:
  /addons:
    get:
      description: List all the available Bitrise addons
      operationId: addons-list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AddonsListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      summary: Get list of available Bitrise addons
      tags:
      - addons
  /addons/{addon-id}:
    get:
      description: Show details of a specific Bitrise addon
      operationId: addons-show
      parameters:
      - description: Addon ID
        in: path
        name: addon-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AddonsShowResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      summary: Get a specific Bitrise addon
      tags:
      - addons
  /apps:
    get:
      description: "List all the apps available for the authenticated account, including\
        \ those that are owned by other users or Organizations."
      operationId: app-list
      parameters:
      - description: "Order of the applications: sort them based on when they were\
          \ created or the time of their last build"
        in: query
        name: sort_by
        schema:
          enum:
          - last_build_at
          - created_at
          type: string
      - description: Slug of the first app in the response
        in: query
        name: next
        schema:
          type: string
      - description: "Max number of elements per page (default: 50)"
        in: query
        name: limit
        schema:
          maximum: 50
          type: integer
      - description: The title of the app
        in: query
        name: title
        schema:
          type: string
      - description: "The project type of the app (eg. 'ios', 'android')"
        in: query
        name: project_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Get list of the apps
      tags:
      - application
  /apps/register:
    post:
      description: "Add a new app to Bitrise. This is the first step of the app registration\
        \ process. To successfully set it up, you need to provide the required app\
        \ parameters: the repository URL and the isPublic field. Read more about the\
        \ app creation process in our [detailed guide](https://devcenter.bitrise.io/api/adding-and-managing-apps/#adding-a-new-app)."
      operationId: app-create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.AppUploadParams'
        description: App parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppRespModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.ProxyErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.ProxyErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.ProxyErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.ProxyErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Add a new app
      tags:
      - app-setup
      x-codegen-request-body-name: app
  /apps/{app-slug}:
    delete:
      description: "Deletes an app by slug. Use with care, make sure you really want\
        \ to delete the app. This action cannot be undone."
      operationId: app-delete
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppDeleteRespModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Deletes an app
      tags:
      - application
    get:
      description: "Get the details of a specific app by providing the app slug. You\
        \ can get the app slug by calling the [/apps](https://api-docs.bitrise.io/#/application/app-list)\
        \ endpoint or by opening the app on bitrise.io and copying the slug from the\
        \ URL."
      operationId: app-show
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppShowResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get a specific app
      tags:
      - application
    patch:
      description: Updates an app by slug. Only updates the fields specified in the
        body.
      operationId: app-update
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.AppUpdateParams'
        description: "App update params. All fields are optional, omit the fields\
          \ you don't wish to update."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppUpdateRespModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Updates an app
      tags:
      - application
      x-codegen-request-body-name: app
  /apps/{app-slug}/addons:
    get:
      description: List all the provisioned addons for the authorized apps
      operationId: addon-list-by-app
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppAddOnsListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get list of the addons for apps
      tags:
      - addons
  /apps/{app-slug}/android-keystore-files:
    get:
      description: List all the android keystore files that have been uploaded to
        a specific app.
      operationId: android-keystore-file-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Slug of the first android keystore file in the response
        in: query
        name: next
        schema:
          type: string
      - description: Max number of build certificates per page is 50.
        in: query
        name: limit
        schema:
          maximum: 50
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get a list of the android keystore files
      tags:
      - android-keystore-file
    post:
      description: Add a new Android keystore file to an app
      operationId: android-keystore-file-create
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.AndroidKeystoreFileUploadParams'
        description: Android keystore file parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Create an Android keystore file
      tags:
      - android-keystore-file
      x-codegen-request-body-name: android-keystore-file
  /apps/{app-slug}/android-keystore-files/{android-keystore-file-slug}:
    delete:
      description: "Delete an app's android keystore file. You can fetch an app's\
        \ android keystore file slug if you first list all the uploaded files with\
        \ the [GET /apps/{app-slug}/android-keystore-files](https://api-docs.bitrise.io/#/android-keystore-file/android-keystore-file-list)\
        \ endpoint. Read more in our [Deleting a file](https://devcenter.bitrise.io/api/managing-android-keystore-files.html)\
        \ guide."
      operationId: android-keystore-file-delete
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Android keystore file slug
        in: path
        name: android-keystore-file-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Delete an android keystore file
      tags:
      - android-keystore-file
    post:
      description: "This is the last step of uploading an android keystore file to\
        \ Bitrise. Confirm the android keystore file upload and view the file on the\
        \ Code Signing tab of a specific app. Read more in our [Confirming the upload](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#confirming-the-file-upload)\
        \ guide."
      operationId: android-keystore-file-confirm
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Android keystore file slug
        in: path
        name: android-keystore-file-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Confirm an android keystore file upload
      tags:
      - android-keystore-file
  /apps/{app-slug}/archived-builds:
    get:
      description: 'List the first 1000 archived builds of a specified Bitrise app.
        Set parameters to filter builds:'
      operationId: archived-builds-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Listed builds should only be the ones which ran after the given
          date (Unix Timestamp)
        in: query
        name: after
        required: true
        schema:
          type: integer
      - description: Listed builds should only be the ones which ran before the given
          date (Unix Timestamp)
        in: query
        name: before
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ArchivedBuildListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: List 1000 archived builds of an app
      tags:
      - builds
  /apps/{app-slug}/bitrise.yml:
    get:
      description: "Get the full `bitrise.yml` configuration of an application, by\
        \ providing the app slug. It returns the current `bitrise.yml` that is stored\
        \ on bitrise.io in full, including the trigger map, the different workflows\
        \ and the Steps."
      operationId: app-config-datastore-show
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: "{the bitrise.yml in yml format}"
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get bitrise.yml of a specific app
      tags:
      - application
    post:
      description: Upload a new bitrise.yml for your application.
      operationId: app-config-create
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.AppConfigRequestParam'
        description: App config parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppConfigRespModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.ProxyErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Upload a new bitrise.yml for your application.
      tags:
      - app-setup
      x-codegen-request-body-name: app-config
  /apps/{app-slug}/bitrise.yml/config:
    get:
      description: Getting the location of the application's bitrise.yaml. Requires
        administrator level privileges to the app.
      operationId: app-setup-bitrise-yml-config-get
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BitriseYMLConfigGetResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Getting the location of the application's bitrise.yaml
      tags:
      - app-setup
    put:
      description: Changing the location of the application's bitrise.yaml. Requires
        administrator level privileges to the app.
      operationId: app-setup-bitrise-yml-config-update
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.BitriseYMLConfigUpdateParams'
        description: Bitrise YML Config Update Params
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Changing the location of the application's bitrise.yaml
      tags:
      - app-setup
      x-codegen-request-body-name: app
  /apps/{app-slug}/branches:
    get:
      description: Lists only those branches of a specified Bitrise app that have
        existing builds.
      operationId: branch-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BranchListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: List the branches with existing builds of an app's repository
      tags:
      - application
  /apps/{app-slug}/build-certificates:
    get:
      description: "List all the build certificates that have been uploaded to a specific\
        \ app. Read more in our [Listing the uploaded iOS code signing files of an\
        \ app](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#listing-the-uploaded-ios-code-signing-files-of-an-app)\
        \ guide."
      operationId: build-certificate-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Slug of the first build certificate in the response
        in: query
        name: next
        schema:
          type: string
      - description: Max number of build certificates per page is 50.
        in: query
        name: limit
        schema:
          maximum: 50
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildCertificateListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get a list of the build certificates
      tags:
      - build-certificate
    post:
      description: "Create a temporary pre-signed upload URL for the build certificate\
        \ and upload the file to AWS with a simple `curl` request. To complete the\
        \ uploading process and view your files on the Code Signing tab of your app,\
        \ continue with the [POST /apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded](https://api-docs.bitrise.io/#/build-certificate/build-certificate-confirm)\
        \ endpoint. Read more in our [Creating and uploading an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#creating--uploading-an-ios-code-signing-file)\
        \ guide."
      operationId: build-certificate-create
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.BuildCertificateUploadParams'
        description: Build certificate parameters such as file name and its file size
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildCertificateResponseModel'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Create a build certificate
      tags:
      - build-certificate
      x-codegen-request-body-name: build-certificate
  /apps/{app-slug}/build-certificates/{build-certificate-slug}:
    delete:
      description: "Delete an app's build certificate. You can fetch the build certificate\
        \ slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list)\
        \ endpoint to list all available build certificates of an app. Read more in\
        \ our [Deleting an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#deleting-an-ios-code-signing-file)\
        \ guide."
      operationId: build-certificate-delete
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build certificate slug
        in: path
        name: build-certificate-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildCertificateResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Delete a build certificate
      tags:
      - build-certificate
    get:
      description: "Retrieve data of a specific build certificate. You can fetch the\
        \ build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list)\
        \ endpoint to list all available build certificates of an app. Read more in\
        \ our [Getting a specific iOS code signing file's data](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#getting-a-specific-ios-code-signing-files-data)\
        \ guide."
      operationId: build-certificate-show
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build certificate slug
        in: path
        name: build-certificate-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildCertificateResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Get a specific build certificate
      tags:
      - build-certificate
    patch:
      description: "Update an uploaded build certificate's attributes. You can fetch\
        \ the build certificate slug for this endpoint if you first call the [GET\
        \ /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list)\
        \ endpoint. Read more in our [Updating an uploaded iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload)\
        \ guide."
      operationId: build-certificate-update
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build certificate slug
        in: path
        name: build-certificate-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.BuildCertificateUpdateParams'
        description: Build certificate parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildCertificateResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Update a build certificate
      tags:
      - build-certificate
      x-codegen-request-body-name: build-certificate
  /apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded:
    post:
      description: "This is the last step of uploading a build certificate to Bitrise.\
        \ Confirm the build certificate upload and view the file on the Code Signing\
        \ tab of a specific app. Read more in our [Confirming the iOS code signing\
        \ file upload](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload)\
        \ guide."
      operationId: build-certificate-confirm
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build certificate slug
        in: path
        name: build-certificate-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildCertificateResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Confirm a build certificate upload
      tags:
      - build-certificate
  /apps/{app-slug}/build-requests:
    get:
      description: List the existing open build requests of a specified Bitrise app
      operationId: build-request-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildRequestListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: List the open build requests for an app
      tags:
      - build-request
  /apps/{app-slug}/build-requests/{build-request-slug}:
    patch:
      description: Update a specific build request of a specific app
      operationId: build-request-update
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build request slug
        in: path
        name: build-request-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.BuildRequestUpdateParams'
        description: Build request parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildRequestUpdateResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Update a build request
      tags:
      - build-request
      x-codegen-request-body-name: build-request
  /apps/{app-slug}/build-workflows:
    get:
      description: "List the workflows that were triggered at any time for a given\
        \ Bitrise app. Note that it might list workflows that are currently not defined\
        \ in the app's `bitrise.yml` configuration - and conversely, workflows that\
        \ were never triggered will not be listed even if they are defined in the\
        \ `bitrise.yml` file."
      operationId: build-workflow-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildWorkflowListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: List the workflows of an app
      tags:
      - builds
  /apps/{app-slug}/builds:
    get:
      description: "List all the builds of a specified Bitrise app. Set parameters\
        \ to filter builds: for example, you can search for builds run with a given\
        \ workflow or all builds that were triggered by Pull Requests. It returns\
        \ all the relevant data of the build."
      operationId: build-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: "Order of builds: sort them based on when they were created or\
          \ the time when they were triggered"
        in: query
        name: sort_by
        schema:
          enum:
          - running_first
          - created_at
          type: string
      - description: The branch which was built
        in: query
        name: branch
        schema:
          type: string
      - description: The name of the workflow used for the build
        in: query
        name: workflow
        schema:
          type: string
      - description: The commit message of the build
        in: query
        name: commit_message
        schema:
          type: string
      - description: "The event that triggered the build (push, pull-request, tag)"
        in: query
        name: trigger_event_type
        schema:
          type: string
      - description: The id of the pull request that triggered the build
        in: query
        name: pull_request_id
        schema:
          type: integer
      - description: The build number
        in: query
        name: build_number
        schema:
          type: integer
      - description: List builds run after a given date (Unix Timestamp)
        in: query
        name: after
        schema:
          type: integer
      - description: List builds run before a given date (Unix Timestamp)
        in: query
        name: before
        schema:
          type: integer
      - description: "The status of the build: not finished (0), successful (1), failed\
          \ (2), aborted with failure (3), aborted with success (4)"
        in: query
        name: status
        schema:
          maximum: 4
          type: integer
      - description: Whether the builds are part of a pipeline or not
        in: query
        name: is_pipeline_build
        schema:
          type: boolean
      - description: Slug of the first build in the response
        in: query
        name: next
        schema:
          type: string
      - description: "Max number of elements per page (default: 50)"
        in: query
        name: limit
        schema:
          maximum: 50
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: List all builds of an app
      tags:
      - builds
    post:
      description: "Trigger a new build/pipeline. Specify an app slug and at least\
        \ one parameter out of three: a git tag or git commit hash, a branch, or a\
        \ workflow/pipeline ID. You can also set specific parameters for Pull Request\
        \ builds/pipelines and define additional environment variables for your build/pipeline.\
        \ [Check out our detailed guide](https://devcenter.bitrise.io/api/build-trigger/)."
      operationId: build-trigger
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.BuildTriggerParams'
        description: Build trigger parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildTriggerRespModel'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Trigger a new build/pipeline
      tags:
      - builds
      x-codegen-request-body-name: build_params
  /apps/{app-slug}/builds/{build-slug}:
    get:
      description: "Get the specified build of a given Bitrise app. You need to provide\
        \ both an app slug and a build slug. You can get the build slug either by\
        \ calling the [/builds](https://api-docs.bitrise.io/#/builds/build-list) endpoint\
        \ or by clicking on the build on bitrise.io and copying the slug from the\
        \ URL. The endpoint returns all the relevant data of the build."
      operationId: build-show
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildShowResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get a build of a given app
      tags:
      - builds
  /apps/{app-slug}/builds/{build-slug}/abort:
    post:
      description: Abort a specific build. Set an abort reason with the `abort_reason`
        parameter. Use the `abort_with_success` parameter to abort a build but still
        count it as a successful one.
      operationId: build-abort
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.BuildAbortParams'
        description: Build abort parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.BuildAbortResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Abort a specific build
      tags:
      - builds
      x-codegen-request-body-name: build-abort-params
  /apps/{app-slug}/builds/{build-slug}/artifacts:
    get:
      description: "List all build artifacts that have been generated for an app's\
        \ build. This endpoint can retrieve artifacts from the archive as well. You\
        \ can use the created build artifact slugs from the response output to retrieve\
        \ data of a specific build artifact with the [GET/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-show)\
        \ endpoint or update a build artifact with the [PATCH/apps](https://api-docs.bitrise.io/#/build-artifact/artifact-update)\
        \ endpoint."
      operationId: artifact-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      - description: Slug of the first build artifact in the response
        in: query
        name: next
        schema:
          type: string
      - description: Max number of build artifacts per page is 50.
        in: query
        name: limit
        schema:
          maximum: 50
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ArtifactListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get a list of all build artifacts
      tags:
      - build-artifact
  /apps/{app-slug}/builds/{build-slug}/artifacts/{artifact-slug}:
    delete:
      description: "Delete a build artifact of an app's build. The required parameters\
        \ are app slug, build slug and artifact slug. You can fetch the build artifact\
        \ slug if you first list all build artifacts of an app with the [/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list)\
        \ endpoint."
      operationId: artifact-delete
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      - description: Artifact slug
        in: path
        name: artifact-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ArtifactDeleteResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Delete a build artifact
      tags:
      - build-artifact
    get:
      description: "Retrieve data of a specific build artifact. The endpoint can retrieve\
        \ archived artifacts as well. The response output contains a time-limited\
        \ download url (expires in 10 minutes) and a public install-page URL. You\
        \ can view the build artifact with both URLs, but the public install-page\
        \ url will not work unless you [enable it](https://devcenter.bitrise.io/tutorials/deploy/bitrise-app-deployment/#enabling-public-page-for-the-app)."
      operationId: artifact-show
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      - description: Artifact slug
        in: path
        name: artifact-slug
        required: true
        schema:
          type: string
      - description: Setting this will result in a redirect to the artifact download
          location
        in: query
        name: download
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ArtifactShowResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get a specific build artifact
      tags:
      - build-artifact
    patch:
      description: "Update the `is_public_page_enabled` attribute of your app's build.\
        \ The required parameters are app slug, build slug and artifact slug. You\
        \ can fetch the build artifact slug if you first list all build artifacts\
        \ of an app with the [GET /apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list)\
        \ endpoint."
      operationId: artifact-update
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      - description: Artifact slug
        in: path
        name: artifact-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.ArtifactUpdateParams'
        description: Artifact parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ArtifactShowResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Update a build artifact
      tags:
      - build-artifact
      x-codegen-request-body-name: artifact-params
  /apps/{app-slug}/builds/{build-slug}/bitrise.yml:
    get:
      description: "Get the bitrise.yml file of one of the builds of a given app.\
        \ This will return the `bitrise.yml` configuration with which the build ran.\
        \ You can compare it to [the current bitrise.yml configuration](https://api-docs.bitrise.io/#/application/app-config-datastore-show)\
        \ of the app."
      operationId: build-bitrise-yml-show
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: "{the bitrise.yml in yml format}"
        "400":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get the bitrise.yml of a build
      tags:
      - builds
  /apps/{app-slug}/builds/{build-slug}/log:
    get:
      description: "Get the build log of a specified build of a Bitrise app. You can\
        \ get the build slug either by calling the [/builds](https://api-docs.bitrise.io/#/builds/build-list)\
        \ endpoint or by clicking on the build on bitrise.io and copying the slug\
        \ from the URL. Preview of the log is returned in `log_chunks` field in JSON\
        \ format. You can download the full raw log in txt by using the signed url\
        \ returned in `expiring_raw_log_url`. Be aware that this url is expiring in\
        \ 10 minutes!"
      operationId: build-log
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Build slug
        in: path
        name: build-slug
        required: true
        schema:
          type: string
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get the build log of a build
      tags:
      - builds
  /apps/{app-slug}/cache-items:
    delete:
      description: Deletes all key-value cache items created by the builds of an app.
        Deleted cache items are no longer accessible and cannot be restored.
      operationId: cache-item-delete-all
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Deletes all key-value cache items belonging to an app
      tags:
      - key-value-cache
    get:
      description: List all the available cache items that the builds of the app created
        via the save-cache step.
      operationId: cache-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: "Getting cache items created before the given parameter (RFC3339\
          \ time format, default: now)"
        in: query
        name: next
        schema:
          type: string
      - description: "Max number of elements per page (default: 100)"
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.CacheItemListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: List the key-value cache items belonging to an app
      tags:
      - key-value-cache
  /apps/{app-slug}/cache-items/{cache-item-id}:
    delete:
      description: Deletes a key-value cache item. Deleted cache items are no longer
        accessible and cannot be restored.
      operationId: cache-item-delete
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: The ID of the cache item to be deleted
        in: path
        name: cache-item-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Deletes a key-value cache item
      tags:
      - key-value-cache
  /apps/{app-slug}/cache-items/{cache-item-id}/download:
    get:
      description: Gets a download URL of a cache item.
      operationId: cache-item-download
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: The ID of the cache item to be downloaded
        in: path
        name: cache-item-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.CacheItemDownloadResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Gets the download URL of a key-value cache item
      tags:
      - key-value-cache
  /apps/{app-slug}/finish:
    post:
      description: "Save the application after registering it on Bitrise and registering\
        \ an SSH key (and, optionally, adding a webhook). With this endpoint you can\
        \ define the initial configuration, define application-level environment variables,\
        \ determine the project type, and set an Organization to be the owner of the\
        \ app. Read more about the app registration process in our [detailed guide](https://devcenter.bitrise.io/api/adding-and-managing-apps/#adding-a-new-app)."
      operationId: app-finish
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.AppFinishParams'
        description: App finish parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppFinishRespModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Save the application at the end of the app registration process
      tags:
      - app-setup
      x-codegen-request-body-name: app
  /apps/{app-slug}/generic-project-files:
    get:
      description: "List all the generic project files that have been uploaded to\
        \ a specific app. Read more in our [Listing the uploaded files of an app](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#listing-the-uploaded-files-of-an-app)\
        \ guide."
      operationId: generic-project-file-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Slug of the first generic project file in the response
        in: query
        name: next
        schema:
          type: string
      - description: Max number of build certificates per page is 50.
        in: query
        name: limit
        schema:
          maximum: 50
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Get a list of the generic project files
      tags:
      - generic-project-file
    post:
      description: "Create a temporary pre-signed upload URL (expires in 10 minutes)\
        \ for the generic project file and upload it to AWS with a simple `curl` request.\
        \ To complete the uploading process and view your files on the Code Signing\
        \ tab of your app, continue with the [POST /apps/{app-slug}/generic-project-files/{generic-project-file-slug}/uploaded](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-confirm)\
        \ endpoint. Read more in our [Creating and uploading files to Generic File\
        \ Storage](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#creating-and-uploading-files-to-generic-file-storage)\
        \ guide."
      operationId: generic-project-files-create
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.ProjectFileStorageUploadParams'
        description: Generic project file parameters
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Create a generic project file
      tags:
      - generic-project-file
      x-codegen-request-body-name: generic-project-file
  /apps/{app-slug}/generic-project-files/{generic-project-file-slug}:
    delete:
      description: "Delete an app's generic project file. You can fetch an app's generic\
        \ project file slug if you first list all the uploaded files with the [GET\
        \ /apps/{app-slug}/generic-project-files](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-list)\
        \ endpoint. Read more in our [Deleting a file](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#deleting-a-file)\
        \ guide."
      operationId: generic-project-file-delete
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Generic project file slug
        in: path
        name: generic-project-file-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Delete a generic project file
      tags:
      - generic-project-file
    get:
      description: "Retrieve data of a specific generic project file to check its\
        \ attributes and optionally modify them with the [PATCH /apps/](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-update)\
        \ endpoint. Read more in our [Retrieving a specific file's data](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#retrieving-a-specific-files-data)\
        \ guide."
      operationId: generic-project-file-show
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Generic project file slug
        in: path
        name: generic-project-file-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Get a specific generic project file
      tags:
      - generic-project-file
    patch:
      description: "Update a generic project file's attributes. You can fetch an app's\
        \ generic project file slug if you first list all the uploaded files with\
        \ the [GET /apps/{app-slug}/generic-project-files](https://api-docs.bitrise.io/#/generic-project-file/generic-project-file-list)\
        \ endpoint. Read more in our [Updating an uploaded file](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#updating-an-uploaded-file)\
        \ guide."
      operationId: generic-project-file-update
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Generic project file slug
        in: path
        name: generic-project-file-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v0.ProjectFileStorageDocumentUpdateParams'
        description: Generic project file parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Update a generic project file
      tags:
      - generic-project-file
      x-codegen-request-body-name: generic-project-file
  /apps/{app-slug}/generic-project-files/{generic-project-file-slug}/uploaded:
    post:
      description: "This is the last step of uploading a generic project file to Bitrise.\
        \ Confirm the generic project file upload and view the file on the Code Signing\
        \ tab of a specific app. Read more in our [Confirming the upload](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#confirming-the-file-upload)\
        \ guide."
      operationId: generic-project-file-confirm
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Generic project file slug
        in: path
        name: generic-project-file-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.ProjectFileStorageResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Confirm a generic project file upload
      tags:
      - generic-project-file
  /apps/{app-slug}/local-builds:
    get:
      description: List all the local builds belonging to the specified Bitrise app.
        Set parameters to filter builds
      operationId: local-build-list
      parameters:
      - description: List local builds run after a given date (RFC3339 time format)
        in: query
        name: after
        schema:
          type: string
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: List local builds run before a given date (RFC3339 time format)
          - was called 'next' earlier
        in: query
        name: before
        schema:
          type: string
      - description: "Max number of elements per page (default: 10)"
        in: query
        name: limit
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.PipelineListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: List local builds of an app
      tags:
      - local-builds
  /apps/{app-slug}/outgoing-webhooks:
    get:
      description: "List all the outgoing webhooks registered for a specified Bitrise\
        \ app. This returns all the relevant data of the webhook, including the slug\
        \ of the webhook and its URL."
      operationId: outgoing-webhook-list
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: Slug of the first webhook in the response
        in: query
        name: next
        schema:
          type: string
      - description: "Max number of elements per page (default: 50)"
        in: query
        name: limit
        schema:
          maximum: 50
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppWebhookListResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: List the outgoing webhooks of an app
      tags:
      - outgoing-webhook
    post:
      description: "Create an outgoing webhook for a specified Bitrise app: this can\
        \ be used to send build events to a specified URL with custom headers. Currently,\
        \ only build events can trigger outgoing webhooks."
      operationId: outgoing-webhook-create
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      requestBody:
        content:
          '*/*':
            schema:
              $ref: '#/components/schemas/v0.AppWebhookCreateParams'
        description: App webhook creation params
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppWebhookCreatedResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      - AddonAuthToken: []
      summary: Create an outgoing webhook for an app
      tags:
      - outgoing-webhook
      x-codegen-request-body-name: app-webhook-create-params
  /apps/{app-slug}/outgoing-webhooks/{app-webhook-slug}:
    delete:
      description: Delete an existing outgoing webhook for a specified Bitrise app.
      operationId: outgoing-webhook-delete
      parameters:
      - description: App slug
        in: path
        name: app-slug
        required: true
        schema:
          type: string
      - description: App webhook slug
        in: path
        name: app-webhook-slug
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v0.AppWebhookDeletedResponseModel'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.StandardErrorRespModel'
          description: Internal Server Error
      security:
      - PersonalAccessToken: []
      summary: Delete an outgoing webhook of an app
      tags:
      - outgoing-webhook
    put:
      description: "Update an existing outgoing webhook (URL, events, secrets and\
        \ headers) for a specified Bitrise app. Even if you do not want to change\
        \ one of the parameters, you still have to provide that parameter as well:\
        \ simply use its existing value."
      operationId: outgoing-webhook-update
      parameters:
      - description: App slug
        in: path
        name: app-slug
[...]
