{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Official REST API for Bitrise.io",
        "title": "Bitrise API",
        "contact": {
            "name": "Bitrise Support",
            "url": "https://www.bitrise.io/contact",
            "email": "letsconnect@bitrise.io"
        },
        "license": {
            "name": "MIT"
        },
        "version": "0.1"
    },
    "host": "api.bitrise.io",
    "basePath": "/v0.1",
    "paths": {
        "/addons": {
            "get": {
                "description": "List all the available Bitrise addons",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "addons"
                ],
                "summary": "Get list of available Bitrise addons",
                "operationId": "addons-list",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AddonsListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/addons/{addon-id}": {
            "get": {
                "description": "Show details of a specific Bitrise addon",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "addons"
                ],
                "summary": "Get a specific Bitrise addon",
                "operationId": "addons-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Addon ID",
                        "name": "addon-id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AddonsShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "List all the apps available for the authenticated account, including those that are owned by other users or Organizations.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Get list of the apps",
                "operationId": "app-list",
                "parameters": [
                    {
                        "enum": [
                            "last_build_at",
                            "created_at"
                        ],
                        "type": "string",
                        "description": "Order of the applications: sort them based on when they were created or the time of their last build",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first app in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "maximum": 50,
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The title of the app",
                        "name": "title",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The project type of the app (eg. 'ios', 'android')",
                        "name": "project_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AppListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/register": {
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Add a new app to Bitrise. This is the first step of the app registration process. To successfully set it up, you need to provide the required app parameters: the repository URL and the isPublic field. Read more about the app creation process in our [detailed guide](https://devcenter.bitrise.io/api/adding-and-managing-apps/#adding-a-new-app).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "app-setup"
                ],
                "summary": "Add a new app",
                "operationId": "app-create",
                "parameters": [
                    {
                        "description": "App parameters",
                        "name": "app",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.AppUploadParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AppRespModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.ProxyErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.ProxyErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.ProxyErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.ProxyErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "Get the details of a specific app by providing the app slug. You can get the app slug by calling the [/apps](https://api-docs.bitrise.io/#/application/app-list) endpoint or by opening the app on bitrise.io and copying the slug from the URL.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Get a specific app",
                "operationId": "app-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AppShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Deletes an app by slug. Use with care, make sure you really want to delete the app. This action cannot be undone.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Deletes an app",
                "operationId": "app-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AppDeleteRespModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Updates an app by slug. Only updates the fields specified in the body.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Updates an app",
                "operationId": "app-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "App update params. All fields are optional, omit the fields you don't wish to update.",
                        "name": "app",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.AppUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AppUpdateRespModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/addons": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List all the provisioned addons for the authorized apps",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "addons"
                ],
                "summary": "Get list of the addons for apps",
                "operationId": "addon-list-by-app",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AppAddOnsListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/android-keystore-files": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List all the android keystore files that have been uploaded to a specific app.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "android-keystore-file"
                ],
                "summary": "Get a list of the android keystore files",
                "operationId": "android-keystore-file-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first android keystore file in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "maximum": 50,
                        "type": "integer",
                        "description": "Max number of build certificates per page is 50.",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.ProjectFileStorageListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Add a new Android keystore file to an app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "android-keystore-file"
                ],
                "summary": "Create an Android keystore file",
                "operationId": "android-keystore-file-create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Android keystore file parameters",
                        "name": "android-keystore-file",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.AndroidKeystoreFileUploadParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/android-keystore-files/{android-keystore-file-slug}": {
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "This is the last step of uploading an android keystore file to Bitrise. Confirm the android keystore file upload and view the file on the Code Signing tab of a specific app. Read more in our [Confirming the upload](https://devcenter.bitrise.io/api/managing-files-in-generic-file-storage/#confirming-the-file-upload) guide.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "android-keystore-file"
                ],
                "summary": "Confirm an android keystore file upload",
                "operationId": "android-keystore-file-confirm",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Android keystore file slug",
                        "name": "android-keystore-file-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Delete an app's android keystore file. You can fetch an app's android keystore file slug if you first list all the uploaded files with the [GET /apps/{app-slug}/android-keystore-files](https://api-docs.bitrise.io/#/android-keystore-file/android-keystore-file-list) endpoint. Read more in our [Deleting a file](https://devcenter.bitrise.io/api/managing-android-keystore-files.html) guide.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "android-keystore-file"
                ],
                "summary": "Delete an android keystore file",
                "operationId": "android-keystore-file-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Android keystore file slug",
                        "name": "android-keystore-file-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.ProjectFileStorageResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/archived-builds": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List the first 1000 archived builds of a specified Bitrise app. Set parameters to filter builds:",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "List 1000 archived builds of an app",
                "operationId": "archived-builds-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Listed builds should only be the ones which ran after the given date (Unix Timestamp)",
                        "name": "after",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Listed builds should only be the ones which ran before the given date (Unix Timestamp)",
                        "name": "before",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.ArchivedBuildListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/bitrise.yml": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "Get the full `bitrise.yml` configuration of an application, by providing the app slug. It returns the current `bitrise.yml` that is stored on bitrise.io in full, including the trigger map, the different workflows and the Steps.",
                "produces": [
                    "text/plain"
                ],
                "tags": [
                    "application"
                ],
                "summary": "Get bitrise.yml of a specific app",
                "operationId": "app-config-datastore-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{the bitrise.yml in yml format}",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Upload a new bitrise.yml for your application.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "app-setup"
                ],
                "summary": "Upload a new bitrise.yml for your application.",
                "operationId": "app-config-create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "App config parameters",
                        "name": "app-config",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.AppConfigRequestParam"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.AppConfigRespModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.ProxyErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/bitrise.yml/config": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Getting the location of the application's bitrise.yaml. Requires administrator level privileges to the app.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "app-setup"
                ],
                "summary": "Getting the location of the application's bitrise.yaml",
                "operationId": "app-setup-bitrise-yml-config-get",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BitriseYMLConfigGetResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "put": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Changing the location of the application's bitrise.yaml. Requires administrator level privileges to the app.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "app-setup"
                ],
                "summary": "Changing the location of the application's bitrise.yaml",
                "operationId": "app-setup-bitrise-yml-config-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Bitrise YML Config Update Params",
                        "name": "app",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.BitriseYMLConfigUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/branches": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "Lists only those branches of a specified Bitrise app that have existing builds.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "application"
                ],
                "summary": "List the branches with existing builds of an app's repository",
                "operationId": "branch-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BranchListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-certificates": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List all the build certificates that have been uploaded to a specific app. Read more in our [Listing the uploaded iOS code signing files of an app](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#listing-the-uploaded-ios-code-signing-files-of-an-app) guide.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Get a list of the build certificates",
                "operationId": "build-certificate-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first build certificate in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "maximum": 50,
                        "type": "integer",
                        "description": "Max number of build certificates per page is 50.",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Create a temporary pre-signed upload URL for the build certificate and upload the file to AWS with a simple `curl` request. To complete the uploading process and view your files on the Code Signing tab of your app, continue with the [POST /apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded](https://api-docs.bitrise.io/#/build-certificate/build-certificate-confirm) endpoint. Read more in our [Creating and uploading an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#creating--uploading-an-ios-code-signing-file) guide.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Create a build certificate",
                "operationId": "build-certificate-create",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build certificate parameters such as file name and its file size",
                        "name": "build-certificate",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateUploadParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-certificates/{build-certificate-slug}": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Retrieve data of a specific build certificate. You can fetch the build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list) endpoint to list all available build certificates of an app. Read more in our [Getting a specific iOS code signing file's data](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#getting-a-specific-ios-code-signing-files-data) guide.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Get a specific build certificate",
                "operationId": "build-certificate-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Delete an app's build certificate. You can fetch the build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list) endpoint to list all available build certificates of an app. Read more in our [Deleting an iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#deleting-an-ios-code-signing-file) guide.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Delete a build certificate",
                "operationId": "build-certificate-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Update an uploaded build certificate's attributes. You can fetch the build certificate slug for this endpoint if you first call the [GET /apps/{app-slug}/build-certificates](https://api-docs.bitrise.io/#/build-certificate/build-certificate-list) endpoint. Read more in our [Updating an uploaded iOS code signing file](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload) guide.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Update a build certificate",
                "operationId": "build-certificate-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build certificate parameters",
                        "name": "build-certificate",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-certificates/{build-certificate-slug}/uploaded": {
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "This is the last step of uploading a build certificate to Bitrise. Confirm the build certificate upload and view the file on the Code Signing tab of a specific app. Read more in our [Confirming the iOS code signing file upload](https://devcenter.bitrise.io/api/managing-ios-code-signing-files/#confirming-the-ios-code-signing-file-upload) guide.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-certificate"
                ],
                "summary": "Confirm a build certificate upload",
                "operationId": "build-certificate-confirm",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build certificate slug",
                        "name": "build-certificate-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildCertificateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-requests": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List the existing open build requests of a specified Bitrise app",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-request"
                ],
                "summary": "List the open build requests for an app",
                "operationId": "build-request-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildRequestListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-requests/{build-request-slug}": {
            "patch": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Update a specific build request of a specific app",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-request"
                ],
                "summary": "Update a build request",
                "operationId": "build-request-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build request slug",
                        "name": "build-request-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build request parameters",
                        "name": "build-request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.BuildRequestUpdateParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildRequestUpdateResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/build-workflows": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List the workflows that were triggered at any time for a given Bitrise app. Note that it might list workflows that are currently not defined in the app's `bitrise.yml` configuration - and conversely, workflows that were never triggered will not be listed even if they are defined in the `bitrise.yml` file.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "List the workflows of an app",
                "operationId": "build-workflow-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildWorkflowListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List all the builds of a specified Bitrise app. Set parameters to filter builds: for example, you can search for builds run with a given workflow or all builds that were triggered by Pull Requests. It returns all the relevant data of the build.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "List all builds of an app",
                "operationId": "build-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "running_first",
                            "created_at"
                        ],
                        "type": "string",
                        "description": "Order of builds: sort them based on when they were created or the time when they were triggered",
                        "name": "sort_by",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The branch which was built",
                        "name": "branch",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The name of the workflow used for the build",
                        "name": "workflow",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The commit message of the build",
                        "name": "commit_message",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "The event that triggered the build (push, pull-request, tag)",
                        "name": "trigger_event_type",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "The id of the pull request that triggered the build",
                        "name": "pull_request_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "The build number",
                        "name": "build_number",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "List builds run after a given date (Unix Timestamp)",
                        "name": "after",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "List builds run before a given date (Unix Timestamp)",
                        "name": "before",
                        "in": "query"
                    },
                    {
                        "maximum": 4,
                        "type": "integer",
                        "description": "The status of the build: not finished (0), successful (1), failed (2), aborted with failure (3), aborted with success (4)",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "boolean",
                        "description": "Whether the builds are part of a pipeline or not",
                        "name": "is_pipeline_build",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first build in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "maximum": 50,
                        "type": "integer",
                        "description": "Max number of elements per page (default: 50)",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "Trigger a new build/pipeline. Specify an app slug and at least one parameter out of three: a git tag or git commit hash, a branch, or a workflow/pipeline ID. You can also set specific parameters for Pull Request builds/pipelines and define additional environment variables for your build/pipeline. [Check out our detailed guide](https://devcenter.bitrise.io/api/build-trigger/).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "Trigger a new build/pipeline",
                "operationId": "build-trigger",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build trigger parameters",
                        "name": "build_params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.BuildTriggerParams"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildTriggerRespModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "Get the specified build of a given Bitrise app. You need to provide both an app slug and a build slug. You can get the build slug either by calling the [/builds](https://api-docs.bitrise.io/#/builds/build-list) endpoint or by clicking on the build on bitrise.io and copying the slug from the URL. The endpoint returns all the relevant data of the build.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "Get a build of a given app",
                "operationId": "build-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/abort": {
            "post": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "Abort a specific build. Set an abort reason with the `abort_reason` parameter. Use the `abort_with_success` parameter to abort a build but still count it as a successful one.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "builds"
                ],
                "summary": "Abort a specific build",
                "operationId": "build-abort",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Build abort parameters",
                        "name": "build-abort-params",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v0.BuildAbortParams"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.BuildAbortResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/artifacts": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "List all build artifacts that have been generated for an app's build. This endpoint can retrieve artifacts from the archive as well. You can use the created build artifact slugs from the response output to retrieve data of a specific build artifact with the [GET/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-show) endpoint or update a build artifact with the [PATCH/apps](https://api-docs.bitrise.io/#/build-artifact/artifact-update) endpoint.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Get a list of all build artifacts",
                "operationId": "artifact-list",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Slug of the first build artifact in the response",
                        "name": "next",
                        "in": "query"
                    },
                    {
                        "maximum": 50,
                        "type": "integer",
                        "description": "Max number of build artifacts per page is 50.",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.ArtifactListResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            }
        },
        "/apps/{app-slug}/builds/{build-slug}/artifacts/{artifact-slug}": {
            "get": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    },
                    {
                        "AddonAuthToken": []
                    }
                ],
                "description": "Retrieve data of a specific build artifact. The endpoint can retrieve archived artifacts as well. The response output contains a time-limited download url (expires in 10 minutes) and a public install-page URL. You can view the build artifact with both URLs, but the public install-page url will not work unless you [enable it](https://devcenter.bitrise.io/tutorials/deploy/bitrise-app-deployment/#enabling-public-page-for-the-app).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Get a specific build artifact",
                "operationId": "artifact-show",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact slug",
                        "name": "artifact-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Setting this will result in a redirect to the artifact download location",
                        "name": "download",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.ArtifactShowResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Delete a build artifact of an app's build. The required parameters are app slug, build slug and artifact slug. You can fetch the build artifact slug if you first list all build artifacts of an app with the [/apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list) endpoint.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Delete a build artifact",
                "operationId": "artifact-delete",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Artifact slug",
                        "name": "artifact-slug",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/v0.ArtifactDeleteResponseModel"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/service.StandardErrorRespModel"
                        }
                    }
                }
            },
            "patch": {
                "security": [
                    {
                        "PersonalAccessToken": []
                    }
                ],
                "description": "Update the `is_public_page_enabled` attribute of your app's build. The required parameters are app slug, build slug and artifact slug. You can fetch the build artifact slug if you first list all build artifacts of an app with the [GET /apps/](https://api-docs.bitrise.io/#/build-artifact/artifact-list) endpoint.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "build-artifact"
                ],
                "summary": "Update a build artifact",
                "operationId": "artifact-update",
                "parameters": [
                    {
                        "type": "string",
                        "description": "App slug",
                        "name": "app-slug",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Build slug",
                        "name": "build-slug",
                        "in": "path",
[...]
